@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.of-float,
.of-table,
.of-inlineblock,
.of-flex {
  width: 225px;
  font-size: 16px;
}

.of-float {
  float: left;
  width: 225px;
  margin-left: 50px;
  box-sizing: border-box;
}

.of-float:first-child {
  margin-left: 0;
}

.is-table {
  display: table;
}

.of-table {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}

.is-table:first-child {
  padding-left: 0;
}

.is-fontzero {
  font-size: 0;
}

.of-inlineblock {
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
  box-sizing: border-box;
} 

.of-inlineblock:first-child {
  margin-left: 0;
}

.is-flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.of-flex {
  vertical-align: middle;
  box-sizing: border-box;
}

.is-fixed,
.is-flexible {
  display: inline-block;
  vertical-align: top;
}

.is-fixed {
  width: 300px;
}

.is-flexible {
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}

.is-font {
  font-size: 16px;
}

/* 回答はここに書いてね */
