@charset "UTF-8";

/* 回答はここに書いてね */
.gray-box {
  padding: 20px;
  background-color: #ECF1F2;
  box-sizing: border-box;
}

.q4-table {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.q4-table:last-child {
  margin-bottom: 0;
}

.q4-data {
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  display: table-cell;
}

.is-orange {
  width: 100px;
  background-color: #fdc8b8;
}

.is-purple {
  background-color: #e0abd9;
}

.is-blue {
  display: table-cell;
  width: 100px;
  background-color: #b6d8ed;
}

.is-yellow {
  background-color: #e5d32e;
}

.is-red {
  background-color: #ec8f9a;
}

.is-green {
  width: 500px;
  background-color: #8fdcad;
}

/* 回答はここに書いてね */
