@charset "UTF-8";

/* 回答はここに書いてね */

.q8__photo { 
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.q8__photo img {
  width: 100%;
  transition-duration: 0.5s;
}

.q8__photo:hover img {
  transform: scale(1.5);
}

.q8__mask {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  transition-duration: 0.5s;
  background: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,8));
} 

.q8__photo:hover .q8__mask {
  bottom: 0;
}

.q8__text {
  font-size:  16px;
  line-height: 16px;
  color:	#fff;
  word-break: break-all;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.q8__circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  border: 10px solid #ecf1f2;
  border-top-color: #00bcd4;
  box-sizing: border-box;
  animation: rotation 1.1s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 回答はここに書いてね */
